<h1>Checkout:</h1>
<% @carted_products.each do |carted_product| %>
<h2><%= carted_product.product.name %></h2>
<h2>Quantity: <%= carted_product.quantity %></h2>
<%= link_to "Remove", "/carted_products/#{carted_product.id}", {method: :delete, class: "btn btn-danger" }%>
<% end%>

<%= form_tag "/orders", method: :post do %>
<div>
  <%= submit_tag "Buy now" %>
</div>
<% end %> 
