<% if @product && @product.errors.any? %>
 <div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
     
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
     </ul>
  </div>
 <% end %>


<p>Edit Product:</p>
<%= form_tag "/products/#{@product.id}", method: :patch do %> 
<!-- #patch -->
  
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
  </div>        
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>
       

           
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>
 
  <div>
    <%= label_tag :supplier_id %>
    <%= text_field_tag :supplier_id, @product.supplier_id %>
  </div>

  <input type="submit" value="Edit Product">
  <% end %>



