<h1>Shoe Rack</h1>

<div class="store-icon"
<p><img src="https://visualpharm.com/assets/429/No%20Shoes-595b40b75ba036ed117d99c2.svg" width="200" height="277"></p>
</div>

<h2>Products:</h2>
 <% if current_user %>
 <h3><%= current_user.email%></h3>
 <% end %>

<div class="row">
<a href="/products?sort=price&sort_order=asc">

<% @products.each do |x|%>
  <div class ="col-md-3 col-sm-4 col-xs-6" >
    <div class="well">
      <a href="/products/<%=x.id%>"><%= x.name %></a>
      <p><%= number_to_currency(x.price) %></p> 
<!--       <p><%= x.description%></p>
 -->      <div class="single_image">
      <% x.images.each do |image| %>
        <img src ="<%=x.images.first.url%>" alt="" class="img-responsive product_single_image" size ="260x180">
        <%end%>

        </div>
    </div>
   </div>     
<% end%>
</div>


