    <div class="row">    
      <div class="col-sm-9 col-sm-offset-2">
        <p> Name: <%= @product.name %></p>
        <span><p>Supplied by: <%= @supplier.name %></p></span>
        <p><%= @product.sale_message %></p>
        <p> Price: <%= @product.price %></p>
      
    
        <p> Description: <%= @product.description %></p>
  
    
        <% @images.each do |image| %>
        <img src ="<%= image.url%>" alt="" class="img-responsive" img-align="center";>
        <%end%><br>
   <!--  #image.url -->
        <% if current_user %>
        <%= form_tag "/carted_products", method: :post do %>
        <div>
        <%= label_tag :quantity %>
        <%= text_field_tag :quantity %>

        <%= hidden_field_tag :product_id, @product.id %>
  
        <%= submit_tag "Add to Cart" %>
         </div>
         <% end %>  
        <% end %> 
        </div>
      </div> 
    </div> 


<!--  --><!-- got from application controller          -->
    <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
    <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
  <% end %> 

  