<p>New Image</p>
<%= form_tag "/images", method: :post do %>
    <div>
      <%= label_tag :url %>
      <%= text_field_tag :url %>
    </div>
              
     <div>
        <%= label_tag :product_id %>
        <%= collection_select :product, :product_id, Product.all, :id, :name %>
     </div>
    
 <input type="submit" value="Create Image">
<% end %>